body {
background-color: rgb(80, 80, 80);
background-image: url("https://img.freepik.com/vetores-gratis/fundo-galaxia-realista_52683-12122.jpg?w=1060&t=st=1669406109~exp=1669406709~hmac=c598c589814b572acd18b3700cdbd78910ad070ff1d5039b23e7f5839632a2e0");
background-size: 100% 100%;
}

h1 {
font-size: 100px;
}

h2 {
color: white;
font-size: 50px;
}

p {
color: rgb(248, 6, 6);
font-size: 50px;
}

.Planetas {
    display: flex;
    position: absolute;
    left: 330px;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.ImagemPlanetas {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}